@use 'bootstrap/scss/bootstrap.scss';

/* FONTS */

/* Nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Regular'), local('Nunito-Regular'),
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* Open-Sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* Custom Flex Grid */

$columns: 16;

@for $col from 1 to $columns{
    .col-#{$col}{
        display: flex;
        flex: 0 0 100% / $columns * $col;
    }
}

/*
BreakPoints

lg = ≥992px
md = ≥768px
sm = ≥576px
xl = ≥1200px
xs = <576px

*/


/* Colors */

// Body Colors
$background1: #081221;
$background2: #03080f;
$background-gradient: linear-gradient(180deg, $background1, $background2) no-repeat;

//Other colors
$text-color: #c1d1e8;
$button-color: #5692e8;
$panel-color: #0e1a2b;
$input-color: #182c47;

// Body and text
body {
    background: $background-gradient;
    color: $text-color;
    font-size: 12px;
}

// Headings, Buttons and Labels 
@for $h from 1 to 6 {
    h#{$h}, button, label, a{
        color: #ffffff !important;
    }
}

// Input
input, select {
    background: $input-color !important;
    border-radius: 0 !important;
    border-color: transparent !important;
    color: white !important;
}

//Buttons
button {
    background: $button-color !important;
    border-color: $button-color !important;
}

// Card / Panel 
$panel-padding: 1rem;

.panel {
    background: $panel-color ;
    padding: $panel-padding;
    margin: $panel-padding 0 $panel-padding * 2;
}

/* Font-Sizes */

//headings
.game-info h2 {
    font-size: 1.2rem;
    margin: 0;

}

.filter h3 {
    font-size: 1.05rem;
    margin-bottom: 1.1rem;
}

/* Sizing, Positioning & Spacing */
.game-lookup-container {
    flex-direction: column;
}

div[class^='card-'] {
    padding: 0;
}

button {
    min-width: 100%;
    border-radius: 0 !important;
}

// Filter select and button  group
.filter-select {
    display: flex;
    flex-direction: row;

    button {
        min-width: auto;
        padding-top: 0;
        border: transparent;
    }
}

/*Game Preview design*/
$game-preview-height: 15rem; 

@mixin split-game-preview {
    max-height: ($game-preview-height/2);
    min-height: ($game-preview-height/2);
}

.game {
    height: $game-preview-height;
    padding: 0;

    .rating {
        margin: 0;
        position: absolute;
        color: white;
        padding: .5rem;
        background: $button-color;
        top: .5rem;
        right: .7rem;
        text-align: center;
        border-radius: 45px;
        font-size: 1rem;
        line-height: .5rem;
    }

    .game-img {
        @include split-game-preview();
        overflow: hidden;
    
        img {
            max-width: 100%;
        }
    }

    .game-info {
        @include split-game-preview();
        padding: $panel-padding;

        p {
            margin-bottom: 0;
        }

        // show ellipses when summary text exceeds available space
        .summary {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: $panel-padding / 2;
       }
    }
}

/* Navigation Design */
@mixin offset-highlighter {
    top: .8rem;
    left: -1.2rem;
}

div.navbar-nav {
    padding-left: $panel-padding;
}

$highlighter-opacity: 0.06;

a {
    h2.highlighter {
        display: none;
        line-height: 2rem;
        font-size: 2.2rem;
        position: relative;
        opacity: $highlighter-opacity;
        @include offset-highlighter();
    }

    h2 {
        font-size: 1.3rem;
        margin-bottom: 0;
    }
}

//show which link is active by dispaying its highighter
.active {
    h2.highlighter {
        display: flex;
    }
}

//correct navigation bar spacing
.navigation {
    padding-top: 0;
    padding-bottom: 1.5rem;

    a.active {
        padding: 0 0 1rem;
    }
}

$break-points: ( 
    'lg': 992px,
    'md2': 840px,
    'md1': 730px, 
    'sm3': 630px,
    'sm2': 576px,
    'sm1': 500px,
    'xl': 1075px,
    'xxl': 1280px,
    'xs2': 450px,
    'xs1': 360px 
);

/* Responsive design */

@mixin adjust-game-info ($size) {
    .game {
        .game-info {
            max-width: $size;
        }
    }
}

//mobiles

@media (min-width: map-get($map: $break-points, $key: 'xs1')) {
    .game {
        flex-direction: row;
        height: 7.5rem;

        .rating {
            top: 39%;
        }

        .game-img {
            max-width: 8rem;
        }
    }

    @include adjust-game-info(55%);
}

@media (min-width: map-get($map: $break-points, $key: 'xs2')) {
    .game {
        .rating {
            right: 2rem;
        }
    }
}


//Tablets
@media (min-width: map-get($map: $break-points, $key: 'sm1')) {
    @include adjust-game-info(60%);

    .tablet-styled-group {
        display: flex;
        justify-content: space-between;

        div {
            margin-right: 2rem;
        }

        .filter-select {
            margin-right: 0;
        }

        .min-score {
            flex-grow: 1;
        }      

        .order-by {
            flex-grow: 3;
        }

        button.clear {
            min-width: fit-content;
            height: fit-content;
            margin-top: 1.4rem;
        }
    }
}

@media (min-width: map-get($map: $break-points, $key: 'sm2')) {
    @include adjust-game-info(65%);
}

@media (min-width: map-get($map: $break-points, $key: 'sm3')) {
    @include adjust-game-info(70%);
}

@media (min-width: map-get($map: $break-points, $key: 'md1')) {
    @include adjust-game-info(72%);
}

@media (min-width: map-get($map: $break-points, $key: 'md2')) {
    @include adjust-game-info(77%);
}

//large screens

@media (min-width: map-get($map: $break-points, $key: 'lg')) {
    @include adjust-game-info(67%);

    body {
        max-width: 90vw;
        margin: auto;
    }

    .navigation {
        padding-top: 1.5rem;
    }

    //configurations for game-lookup-container - content spacings
    $game-list-width: 70%;
    $game-lookup-middle-space: 2.5%;
    $filter-width: 100% - $game-list-width - $game-lookup-middle-space;

    .game-lookup-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .filter {
            width: $filter-width;
        }

        .game-list {
            max-width: $game-list-width;
        }

    }

    //navigation styling
    a {
        &.nav-link {
            padding: $panel-padding/2 !important;
            padding-right: $panel-padding * 3 !important;
        }

        h2.highlighter {
            display: block;
            opacity: 0;
            font-size: 2.7rem;
        }

        &.active {
            h2.highlighter {
                opacity: $highlighter-opacity; 
            }
        }
    }

    //game-preview card styling
    .tablet-styled-group {
        flex-direction: column;

        div {
            margin-right: 0;
        }

        button {
            min-width: fit-content;
            align-self: flex-end;
        }
    }
}

@media (min-width: map-get($map: $break-points, $key: 'xl')) {
    @include adjust-game-info(70%);
}

@media (min-width: map-get($map: $break-points, $key: 'xxl')) {
    @include adjust-game-info(75%);
}