@use 'bootstrap/scss/bootstrap.scss';

/* FONTS */

/* Nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Regular'), local('Nunito-Regular'),
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-v13-latin/nunito-v13-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* Open-Sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* Custom Flex Grid */

$columns: 16;

@for $col from 1 to $columns{
    .col-#{$col}{
        display: flex;
        flex: 0 0 100% / $columns * $col;
    }
}

/*
BreakPoints

lg = ≥992px
md = ≥768px
sm = ≥576px
xl = ≥1200px
xs = <576px

*/
$break-points: ( 
    'lg': 992px,
    'md': 768px, 
    'sm': 576px, 
    'xl': 1200px, 
    'xs': 576px 
);


/* Colors */

// Body Colors
$background1: #081221;
$background2: #03080f;
$background-gradient: linear-gradient(180deg, $background1, $background2) no-repeat;

// Body and text
body {
    background: $background-gradient;
    color: #c1d1e8;
    font-size: 12px;
}

// Headings, Buttons and Labels 
@for $h from 1 to 6 {
    h#{$h}, button, label{
        color: #ffffff;
    }
}

// Input
input, select {
    background: #182c47 !important;
    border-radius: 0 !important;
    border-color: transparent !important;
    color: white !important;
}

//Buttons
button {
    background: #5692e8 !important;
    border-color: #5692e8 !important;
}

// Card / Panel 
$panel-padding: 1rem;

.panel {
    background: #0e1a2b;
    padding: 1rem;
    margin: 1rem 0 0;
}

/* Font-Sizes */

//headings
h2 {
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
}

/* Sizing, Positioning & Spacing */
.game-lookup-container {
    flex-direction: column;
}

div[class^='card-'] {
    padding: 0;
}

button {
    min-width: 100%;
    border-radius: 0 !important;
}

// Filter select and button  group
.filter-select {
    display: flex;
    flex-direction: row;

    button {
        min-width: auto;
        padding-top: 0;
        border: transparent;
    }
}

/*Game Preview design*/
$game-preview-height: 15rem; 

.game {
    height: $game-preview-height;

    .game-img {
        max-height: ($game-preview-height/2) - $panel-padding;
        min-height: ($game-preview-height/2) - $panel-padding;
        overflow: hidden;
    
        img {
            max-width: 100%;
        }
    }

    .game-info {
        max-height: ($game-preview-height/2) - $panel-padding;
        min-height: ($game-preview-height/2) - $panel-padding;

       //div {
        // max-height: ($game-preview-height/2) - $panel-padding;
        // min-height: ($game-preview-height/2) - $panel-padding;

            .summary {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
           // }
       }
    }
}




